@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model System.Data.DataTable

<!DOCTYPE html>
<html>
<head>
    <title>Country View</title>
</head>
<body>
    <h1>Country View</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Country Name</th>
                <th scope="col">Country Code</th>
                <th scope="col">Created</th>
                <th scope="col">Modified</th>
            </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow row in Model.Rows)
            {
                <tr>
                    <th scope="row">@row["CountryName"]</th>
                    <td>@row["CountryCode"]</td>
                    <td>@row["Created"]</td>
                    <td>@row["Modified"]</td>
                    <td>
                        <form method="post" asp-area="Country" asp-controller="Country" asp-action="DeleteCountry" asp-route-id="@row["CountryID"]">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <a asp-action="EditCountry" asp-route-id="@row["CountryId"]" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
