@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model System.Data.DataTable;
<div class="card p-4">
    <div class="d-flex justify-content-between my-2">
        <h3>Filter</h3>
    </div>
    <form method="POST" asp-controller="Branch" asp-action="BranchFilter">
        <div class="col-3">
            <input type="text" class="form-control" name="BranchName" placeholder="Branch Name" />
        </div>
        <div class="col-3">
            <input type="text" class="form-control" name="BranchCode" placeholder="Branch Code" />
        </div>
        <button class="ms-auto  bd-highlight btn btn-primary" style="width:7vw" type="submit">Filter</button>
        <button type="reset" class="btn btn-secondary mx-2" style="width:7vw">Reset</button>
    </form>
</div>
<div class="card">
    <div class="card-header d-flex justify-content-between">

        <h3 class="">Branch List</h3>


        <div class="">
            <form method="post" asp-area="Branch" asp-controller="Branch" asp-action="BranchAddEdit">
                <button type="submit" class="btn btn-outline-success">Add Country</button>
            </form>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Branch Name</th>
                    <th scope="col">Branch Code</th>
                    <th scope="col">Created</th>
                    <th scope="col">Modified</th>
                    <th scope="col">
                        <center>
                            Actions
                        </center>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (System.Data.DataRow row in Model.Rows)
                {
                    <tr>
                        <th scope="row">@row["BranchName"]</th>
                        <td>@row["BranchCode"]</td>
                        <td>@row["Created"]</td>
                        <td>@row["Modified"]</td>
                        <td class="d-flex justify-content-around align-items-right">
                            <form method="post" asp-area="Branch" asp-controller="Branch" asp-action="DeleteBranch" asp-route-id="@row["BranchID"]">
                                <button type="submit" class="btn btn-outline-danger" onclick="confirmDelete('@row["BranchID"]')">Delete</button>
                            </form>
                            <form method="post" asp-area="Branch" asp-controller="Branch" asp-action="BranchAddEdit" asp-route-id="@row["BranchID"]">
                                <button type="submit" class="btn btn-outline-primary ml-2">Edit</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
