@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model System.Data.DataTable
<script>
    function confirmDelete(countryId) {
        if (confirm("Are you sure you want to delete this country?")) {
            // If the user confirms, submit the delete form
            document.getElementById("deleteForm_" + countryId).submit();
        } else {
            // If the user cancels, prevent form submission
            event.preventDefault();
        }
    }
</script>

<form method="post" asp-area="Country" asp-controller="Country" asp-action="CountryAdd">
    <button type="submit" class="btn btn-success">Add Country</button>
</form>
<h1>Country View</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Country Name</th>
            <th scope="col">Country Code</th>
            <th scope="col">Created</th>
            <th scope="col">Modified</th>
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                <th scope="row">@row["CountryName"]</th>
                <td>@row["CountryCode"]</td>
                <td>@row["Created"]</td>
                <td>@row["Modified"]</td>
                <td class="d-flex justify-content-between align-items-right">
                    <form method="post" asp-area="Country" asp-controller="Country" asp-action="DeleteCountry" asp-route-id="@row["CountryID"]">
                        <button type="submit" class="btn btn-danger" onclick="confirmDelete('@row["CountryID"]')">Delete</button>
                    </form>
                    <form method="post" asp-area="Country" asp-controller="Country" asp-action="CountryAdd" asp-route-id="@row["CountryID"]">
                        <button type="submit" class="btn btn-primary ml-2">Edit</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

